nav.navbar {
    display: flex;
    flex-flow: row;
    height: 60px;
    width: 100%;
    background-color: grey;
    position: fixed;
    margin-top: 15px;
    opacity: 0.8;
    box-shadow: inset 20px 20px 5px 0px rgba(204,204,204,1);
}

nav ul {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%
}